<!-- a página de home no HTML vai servir para abraçar os componentes de card -->
<div class="home__container">
	<app-card gameCover="assets/bt-1.jpg" gameLabel="EXCLUSIVE" gamePrice="R$ 59,90" gameType="PS5"></app-card>
	<app-card gameCover="assets/bt-4.jpg" gameLabel="DIGITAL" gamePrice="R$ 99,90" gameType="PS4/PS3/PC"></app-card>
	<app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="DIGITAL" gamePrice="R$ 149,90" gameType="PS5/PC"></app-card>
	<app-card gameCover="assets/bt-hardline.jpg" gameLabel="EXCLUSIVE" gamePrice="R$ 39,90" gameType="PC"></app-card>
	<app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE" gamePrice="R$ 199,90" gameType="PS5"></app-card>
</div>

