.home__container{
	width: 90%;
	margin: auto;
	padding-top: 50px;

	display: flex;
	/* para os conteudos terem um espaço em volta deles */
	justify-content: space-around;
	/* alinha os itens pela base */
	align-items: baseline;
	/* quando exceder o limite da div direciona o card para linha de baixo */
	flex-wrap: wrap;

}
